.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 40px 0;
    padding: 31px 15px 34px 15px;
    width: 45%;
    @include media-breakpoint-down(md) {
        margin: 0 20px 0 0;
        width: 100%;
    }
    &:first-child {
        padding: 40px 28px 34px 26px;
        margin-right: 20px;
    }
}