button {
  background-color: $color-orange;
  color: #fff;
  border: none;
  border-radius: 18px;
  margin-top: 27px;
  padding: 8px 45px;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  transition: all .2s ease-in-out;
  @include media-breakpoint-up(md) {
    padding: 8px 65px;
  }
  &:hover, &:disabled {
    background-color: lighten($color-orange, 10%);
    transition: all .1s ease-in-out;
  }
  &:focus {
    outline: 0;
  }
}
