.cards {
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
        height: 567px;
    }
    button {
        margin: 0 auto;
    }
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin-bottom: 30px;
    width: 100%;
    transition: all .3s ease-in-out;
    @include media-breakpoint-up(md) {
        flex: 1 0 39%;
        max-width: 200px;
        height: 263px;
        width: 50%;
        &:nth-child(odd) {
                margin-right: 30px;
        }
    }
    &:hover {
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
        transition: all .2s ease-in-out;
    }
}

.card-image {
    height: 72px;
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 8px;
    font-style: italic;
    line-height: 9px;
    img {
        height: 100%;
        object-fit: cover;
        width: 100%;

    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.4);
        z-index: 25;
    }
}

.card-image__meta {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 8px;
    width: 100%;
    padding: 0 16px;
    z-index: 50;
}

.card__content {
    padding: 16px 24px;
}