#add-blog {
  width: 100%;

  .form-fields {
    margin-bottom: 27px;
  }

  .form__field {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    .error {
      border: 1px solid darken(red, 5%);
      &::placeholder {
        color: darken(red, 5%);
      }
    }
  }

  label {
    display: block;
    color: #404040;
    line-height: 14px;
  }

  input[type='text'],
  textarea {
    background-color: $color-lightgrey;
    padding: 18px;
    border: none;
    font-weight: 300;
    line-height: 15px;
    width: 100%;
    &::placeholder {
      font-style: italic;
    }
    &:focus {
      outline: none;
    }
  }

  textarea {
    max-height: 346px;
  }

  button[type=submit] {
    margin: auto;
    display: block;
  }
}

.selectbox {
  position: relative;

  .selectize-input,
  .selectize-dropdown {
    border-radius: 0;
    background-color: $color-lightgrey;
  }

  .selectize-input {
    box-shadow: none;
    border: none;
    padding: 18px;
    input {
      color: #868686;
      font-size: 12px;
      font-weight: 300;
      line-height: 15px;
      font-style: italic;
    }
    &.input-active {
      background-color: $color-lightgrey!important;
    }
    &::placeholder {
      font-style: italic;
    }
  }

  .selectize-dropdown {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    .option {
      padding: 18px;
      &.selected {
        background-color: $color-lightgrey;
        color: #000;
      }
      &:hover {
        background-color: darken($color-lightgrey, 10%);
      }
    }
  }
}

.thank-you {
  p {
    margin-bottom: 0;
  }
}
