.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $container-width;
  margin: 0 auto;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    height: 250px;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 25;
  }
}

.header__background {
  object-fit: cover;
  width: 100%;
  position: relative;
  top: 150px;
  @include media-breakpoint-down(md) {
    top: 0;
  }
}

.header__logo {
  position: absolute;
  max-width: 288px;
  z-index: 50;

  img {
    height: auto;
    width: 100%;
  }
}
