body {
  background-color: $color-white;
  color: $color-grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  animation: fadein 0.9s;
}

.container {
  display: flex;
  justify-content: space-evenly;
  max-width: $container-width;
  padding: 0;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}